[submodule "flexflow-serve"]
	path = flexflow-serve
	url = https://github.com/flexflow/flexflow-serve.git
[submodule "LLaMA-Factory"]
	path = LLaMA-Factory
	url = https://github.com/goliaro/LLaMA-Factory.git
